@media screen and (max-width: 1000px){

    body {
        background-image: url('bg_v2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #003e91;
        background-position: center;
        width:100%;
        height:100%;
        margin: 0;
    }
    
    a {
        font-size: 4.5vw;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #161644;
    }
    
    p {
        font-size: 4vw;
        font-weight: 400;
    }
    
    .welcome {
        font-size: 5vw;
        font-weight: 400;
        padding: 4% 0%;
    }

    .Einzeiler {
        font-size: 5vw;
        font-weight: 400;
    }

    .sorry, .done {
        font-size: 4vw;
        font-weight: 500;
        color: #161644;
        margin: 9% 0%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.4;
    }
}

@media screen and (min-width: 1000px){

    body {
        background-image: url('bg_v2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #003e91;
        background-position: center;
        width:1000px;
        height:100%;
        margin: auto;
    }

    a {
        font-size: 45px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #161644;
    }

    p {
        font-size: 40px;
        font-weight: 400;
    }

    .welcome {
        font-size: 50px;
        font-weight: 400;
        padding: 4% 0%;
    }
    
    .Einzeiler {
        font-size: 50px;
        font-weight: 400;
    }

    .sorry, .done {
        font-size: 40px;
        font-weight: 500;
        color: #161644;
        margin: 9% 0%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.4;
    }
}

.quiz {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}


/* ----------- Index ----------- */

.title {
    height: 230px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url(question.png);
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.start {
    background: url(start.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 6% 18%;
}

.start:hover {
    background-image: url(start_hover.png);
}


@media screen and (max-width: 700px){

    .desktop {
        display: none;
    }
    
    .smartp {
        font-size: 4vw;
        font-weight: 500;
        color: #161644;
        margin: 9% 0%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.4;
    }
}

@media screen and (min-width: 700px){

    .desktop {
        font-size: 30px;
        font-weight: 700;
        color: #161644;
        margin: 9% 0%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.5;
    }
    
    .smartp {
        display: none;
    }
}

/* ----------- Fragen ----------- */

.answer_size1 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 48%;
}

.answer_size2 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 26%;
}

.answer_size3 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 28%;
}

.answer_size4 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 33%;
}

.answer_size5 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 28%;
}

.answer_size6 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 43%;
}

.answer_size7 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 40%;
}

.answer_size8 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 41%;
}

.answer_size9 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 36%;
}

.answer_size10 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 38%;
}

.answer_size11 {
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 42%;
}

.answer_size1:hover, .answer_size2:hover, .answer_size3:hover,
.answer_size4:hover, .answer_size5:hover, .answer_size6:hover,
.answer_size7:hover, .answer_size8:hover, .answer_size9:hover,
.answer_size10:hover, .answer_size11:hover {
    background-image: url(answer_hover.png);
}

.br {
    margin: 4%
}

.icon {
    margin: 8% 0%;
}

.ico_5050 {
    background: url(ico_5050.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 6%;
}

.ico_tel {
    background: url(ico_tel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 6%;
}

.ico_5050:hover {
    background-image: url(ico_5050_hover.png);
    background-position: center;
    background-repeat: no-repeat;
}

.ico_tel:hover {
    background-image: url(ico_tel_hover.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* ----------- sorry + won ----------- */

.wrong {
    font-size: 5vw;
    font-weight: 600;
    padding: 4% 0%;
}

.won {
    font-size: 5vw;
    font-weight: 600;
    padding: 4% 0%;
}

