body {
    background-image: url(bg_v3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #003e91;
}

.quiz {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.title {
    position: relative;
    padding: 0%;
    margin: 18% 0% 10% 0%;
}

.welcome {
    position: absolute;
    font-size: 5.4vw;
    font-weight: 400;
    top: 19%;
    left: 15.5%

}

.start {
    position: relative;
    background: url(start.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 6% 18%;
}

.start:hover {
    background-image: url(start_hover.png);
}

a {
    position: absolute;
    font-size: 6.5vw;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #161644;
}

@media screen and (max-width: 600px){

    .desktop {
        display: none;
    }
}

@media screen and (min-width: 600px){

    .desktop {
        position: relative;
        font-size: 4vw;
        font-weight: 700;
        color: #161644;
        margin-top: 9%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.5;
    }
}

/* ----------- Fragen ----------- */

.quest {
    position: absolute;
    font-size: 5.4vw;
    font-weight: 400;
    top: 19%;
    left: 15.5%
}

.answer {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 48%;
}

.answer:hover {
    background-image: url(answer_hover.png);
}

a {
    position: absolute;
    font-size: 6.5vw;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #161644;
}

.br {
    margin: 4%
}