body {
    background-image: url(bg_v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #003e91;
}

.quiz {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

/* ----------- Index ----------- */

.title {
    position: relative;
    padding: 0%;
    margin: 18% 0% 10% 0%;
}

.welcome {
    position: absolute;
    font-size: 5.4vw;
    font-weight: 400;
    top: 19%;
    left: 15.5%
}

.start {
    position: relative;
    background: url(start.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 6% 18%;
}

.start:hover {
    background-image: url(start_hover.png);
}

a {
    position: absolute;
    font-size: 6.5vw;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #161644;
}

@media screen and (max-width: 600px){

    .desktop {
        display: none;
    }
    
    .smartp {
        position: relative;
        font-size: 4vw;
        font-weight: 500;
        color: #161644;
        margin: 9% 0%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.4;
    }
}

@media screen and (min-width: 600px){

    .desktop {
        position: relative;
        font-size: 4vw;
        font-weight: 700;
        color: #161644;
        margin: 9% 0%;
        background-color: white;
        padding: 1% 0%;
        opacity: 0.5;
    }

    .smartp {
        display: none;
    }
}

/* ----------- Fragen ----------- */

.quest {
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    top: 15%;
    left: 25.5%
}

.answer_size1 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 48%;
}

.answer_size2 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 26%;
}

.answer_size3 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 29%;
}

.answer_size4 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 33%;
}

.answer_size5 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 28%;
}

.answer_size6 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 43%;
}

.answer_size7 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 40%;
}

.answer_size8 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 41%;
}

.answer_size9 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 36%;
}

.answer_size10 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 38%;
}

.answer_size11 {
    position: relative;
    background: url(answer.png);
    background-position: center;
    background-size: 105% 70%;
    background-repeat: no-repeat;
    padding: 5% 42%;
}

.answer_size1:hover, .answer_size2:hover, .answer_size3:hover,
.answer_size4:hover, .answer_size5:hover, .answer_size6:hover,
.answer_size7:hover, .answer_size8:hover, .answer_size9:hover,
.answer_size10:hover, .answer_size11:hover {
    background-image: url(answer_hover.png);
}

a {
    position: absolute;
    font-size: 5vw;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #161644;
}

.br {
    margin: 4%
}

.icon {
    position: relative;
    margin: 8% 0%;
}

.ico_5050 {
    position: relative;
    left: 24%;
    padding: 5% 1% 0% 1%;
}

.ico_tel {
    position: relative;
    left: 39%;
    padding: 5% 1% 0% 1%;
}

.ico_5050:hover, .ico_tel:hover {
    padding: 5% 1% 0% 1%;
    background-color: #9fe4ff;
    border-radius: 100%;
}

/* ----------- sorry + won ----------- */

.sorry, .done {
    position: relative;
    font-size: 4vw;
    font-weight: 500;
    color: #161644;
    margin: 9% 0%;
    background-color: white;
    padding: 1% 0%;
    opacity: 0.4;
}

.wrong {
    position: absolute;
    font-size: 5.4vw;
    font-weight: 600;
    top: 19%;
    left: 22.8%
}

.won {
    position: absolute;
    font-size: 5.4vw;
    font-weight: 600;
    top: 19%;
    left: 26%
}

