body {
    background-image: url(bg.png);
    text-align: center;
    color: white;
    overflow: visible;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}

h1 {
    position: absolute;
    font-size: 28px;
    top: 5%;
    left: 5%;
}

pre {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    top: 14%;
    left: 3%;
}

.autor {
    font-size: 16px;
    top: 80%;
}