body {
    background-image: url(bg.png);
    text-align: center;
    color: white;
}

.card {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: absolute;
    font-size: 28px;
    top: 10%;
    left: 10%;
}

#h1-2 {
    position: absolute;
    font-size: 28px;
    top: 18%;
    left: 10%;
}

#star1 {
    position: absolute;
    top: 35%;
    left: 20%;
}

#star2 {
    position: absolute;
    top: 30%;
    left: 55%;
}

#star3 {
    position: absolute;
    top: 65%;
    left: 35%;
}

#star4 {
    position: absolute;
    top: 55%;
    left: 70%;
}

.stars:hover {
    background-image: url(stern_hover.png);
}
