html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-image:   radial-gradient(circle 100vw at left top,#0088a080 0,#0088a000 100%), 
                        radial-gradient(circle 100vw at right center,#f7690640 0,#f7690600 100%), radial-gradient(circle 100vw at left center,#1cde7e33 0,#1cde7e00 100%),
                        radial-gradient(circle 100vw at right center,#0088a080 0,#0088a000 100%), radial-gradient(circle 100vw at left center,#1cde7e33 0,#1cde7e00 100%),
                        radial-gradient(circle 100vw at right center,#f7690640 0,#f7690600 100%), radial-gradient(circle 100vw at left center,#1cde7e33 0,#1cde7e00 100%),
                        radial-gradient(circle 100vw at right center,#0088a066 0,#0088a000 100%), radial-gradient(circle 100vw at left center,#1cde7e33 0,#1cde7e00 100%);
}

nav {
    margin-bottom: 60px;
}

section {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

.chartWrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100px;
    background: #ffffff80;
}
.chartWrapper .chart {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: #ffffff;
}

footer p {
    margin-top: 50px;
    font-size: 12px;
    opacity: .5;
}

.europe:hover{
    opacity: .4;
}

.northamerica:hover{
    opacity: .4;
}

.southamerica:hover{
    opacity: .4;
}

.africa:hover{
    opacity: .4;
}

.asia:hover{
    opacity: .4;
}

.australia:hover{
    opacity: .4;
}